<div ng-controller="viewleadcontroller" ng-init="onload()">

<h1 class="page_title">
<a href="#">Lead</a> <i class="seperator  fa fa-angle-right" aria-hidden="true"></i>   View Lead
</h1>

<div class="container cent-cont">

 <form name="createleadForm" novalidate="" ng-submit="savelead()">


<div class="pull-right" style="margin-top:-10px;">
<button type="submit" button-id="edit" class="greenbtn btn toppgbtn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
<button type="submit" button-id="clone" class="greenbtn btn toppgbtn"><i class="fa fa-files-o" aria-hidden="true"></i> Clone</a>
<button type="button" ng-click="cancelButton()" class="greenbtn btn toppgbtn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>



<div growl></div>

<div class="section_head"><i class="fa fa-angle-down" aria-hidden="true"></i> Basic Details</div>

<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">First Name</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.salutation}} {{createlead.firstName}}</label>
</div>


<div class="col-md-6">
  <label class="col-md-4 control-label">Last Name</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.lastName}}</label>  
</div>

</div>




<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Company</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.company}}</label>  
</div>

<div class="col-md-6">
  <label class="col-md-4 control-label">Title</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.title}}</label>  
</div>

</div>





<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Lead Source</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.leadsource}}</label>

</div>

<div class="col-md-6">
<label class="col-md-4 control-label">Industry</label>
<label class="col-md-8 control-label viewlbl">{{createlead.industry}}</label>  
</div>

</div>








<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Annual Revenue</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.annual_revenue}}</label>  
</div>



<div class="col-md-6">
  <label class="col-md-4 control-label">Phone</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.phone}}</label>  
</div>


</div>










<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Mobile</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.mobile}}</label>  
</div>



<div class="col-md-6">
  <label class="col-md-4 control-label">Fax</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.fax}}</label>  
</div>


</div>







<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Email</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.email}}</label>  
</div>



<div class="col-md-6">
  <label class="col-md-4 control-label">Website</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.website}}</label>  
</div>


</div>




<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Lead Status</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.leadstatus}}</label>
</div>

<div class="col-md-6">
<label class="col-md-4 control-label">Rating</label>
<label class="col-md-8 control-label viewlbl">{{createlead.rating}}</label>
</div>

</div>






<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">No. of Employees</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.noOfEmp}}</label>  
</div>

</div>

<div class="clearboth"></div>
<br>





<div class="section_head"><i class="fa fa-angle-down" aria-hidden="true"></i> Address Details</div>

<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Street</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.street}}</label>  
</div>



<div class="col-md-6">
<div class="col-md-12 noLRpad">
  <label class="col-md-4 control-label">City</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.city}}</label>  
</div>

<div class="col-md-12 noLRpad">
  <label class="col-md-4 control-label">State/Province</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.state}}</label>  
</div>

</div>


</div>






<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Zip/Postal Code</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.postal}}</label>  
</div>



<div class="col-md-6">
  <label class="col-md-4 control-label">Country</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.country}}</label>  
</div>

</div>



<div class="clearboth"></div>
<br>





<div class="section_head"><i class="fa fa-angle-down" aria-hidden="true"></i> Additional Details</div>

<div class="col-md-12 row">

<div class="col-md-6">
  <label class="col-md-4 control-label">Product Interest</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.productInterest}}</label>
</div>



<div class="col-md-6">
  <label class="col-md-4 control-label">Current Generator(s)</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.currentGenerators}}</label>  
</div>

</div>





<div class="col-md-12 row">

<div class="col-md-6">

<div class="col-md-12 noLRpad">
  <label class="col-md-4 control-label">SIC Code</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.sicCode}}</label>  
</div>


<div class="col-md-12 noLRpad">
  <label class="col-md-4 control-label">Primary</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.primary}}</label>
</div>






<div class="col-md-12 noLRpad">
  <label class="col-md-4 control-label">No of Locations</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.noOfLocations}}</label>  
</div>

</div>







<div class="col-md-6">


  <label class="col-md-4 control-label">Description</label>
  <label class="col-md-8 control-label viewlbl">{{createlead.description}}</label>  
</div>




</div>




















<div class="col-md-12 row">



<!-- <div class="col-md-6">
  <label class="col-md-3 control-label"></label>  
<div class="form-group col-md-8 noltpad">
<input type="checkbox" ng-model="createlead.assignRule"> Assign using active assignment rule
</div>

</div> -->




</div>








<div class="pull-right" style="margin-top:-10px;">
<br>
<button type="submit" button-id="edit" class="greenbtn btn toppgbtn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
<button type="submit" button-id="clone" class="greenbtn btn toppgbtn"><i class="fa fa-files-o" aria-hidden="true"></i> Clone</a>
<button type="button" ng-click="cancelButton()" class="greenbtn btn toppgbtn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>




</form>

</div>

</div>